* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: large;
  color-scheme: light dark;
  color:white;
  background-color: black;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

section {
  width: 320px;
  height: 320px;
  border: 5px double tomato;
  cursor: progress;
  border-radius: 10%;
  background-color: #1a1a1a;
  display:flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}

h1 {
  font-size: xx-large;
}

h2 {
  font-size: 100px;
}

p {
  font-size:smaller;
  font-family:cursive;
  text-decoration: underline;
}

button {
  border-radius: 20%;
  border: 2px solid tomato;
  height: 50px;
  margin: 5px;
  font-size: large;
  padding: 10px;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor:pointer;
}

button:hover {
  border-color: #646cff;
}

section:hover {
  border-color: #646cff;
}